<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myfridge">

    <uses-feature android:name="android.hardware.camera.autoFocus" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="Android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="Android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" tools:node="replace" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/icone"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFridge">
        <activity
            android:name=".AffichageUnAliment"
            android:exported="false" />
        <activity
            android:name=".AffichageFrigoActivity"
            android:exported="false" />
        <activity
            android:name=".AjoutAliment"
            android:exported="false" />
        <activity
            android:name=".Page_de_garde_Activity"
            android:exported="false" />
        <activity
            android:name=".AjoutManuelCodeBarreActivity"
            android:exported="false" />
        <activity
            android:name=".NavigationDrawerActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/Theme.MyFridge.NoActionBar" />
        <activity
            android:name=".AjoutManuelDateActivity"
            android:exported="false" />
        <activity
            android:name=".ScannerCodeBarreActivity"
            android:exported="false" />
        <activity
            android:name=".ScannerDateActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".NotificationEventReceiver" />
        <receiver android:name=".NotificationServiceStarterReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="Android.intent.action.BOOT_COMPLETED" />
                <action android:name="Android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="Android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

    </application>

</manifest>